annotated-types==0.6.0
black==23.12.1
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.0
coverage==7.4.1
cycler==0.12.1
exceptiongroup==1.2.0
fonttools==4.47.2
idna==3.6
iniconfig==2.0.0
kiwisolver==1.4.5
matplotlib==3.8.2
mypy-extensions==1.0.0
numpy==1.26.3
packaging==23.2
pathspec==0.12.1
pillow==10.2.0
platformdirs==4.1.0
pluggy==1.4.0
pydantic==2.5.3
pydantic_core==2.14.6
pyparsing==3.1.1
pytest==8.0.0
pytest-cov==4.1.0
python-dateutil==2.8.2
requests==2.31.0
six==1.16.0
tomli==2.0.1
typing_extensions==4.9.0
urllib3==2.1.0
